<head>
    <link rel="icon" sizes="16x16" href="/favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Glossa</title>
    <meta name="description" content="" />
  <meta name="google-site-verification" content="" />
</head>
<body class="layout-top-nav skin-black-light">

</body>
<template name="layout">
    <!-- {{> sAlert}} -->
    <div class="wrapper">
        <header class="main-header">
            {{> header}}
        </header>
        <div class="content-wrapper">
          <div class="container">
            {{> yield}}
          </div>
        </div>
        <footer class="main-footer">
            <div class="container">
              <div class="pull-right hidden-xs">
                <b>MIT License </b> (MIT)
              </div>
              <strong>Copyright © 2014-2015 <a href="https://github.com/Garbolino">Garbolino</a>.</strong> Open Source <i class="fa fa-github fa-2x"></i> <a href="https://github.com/Garbolino/tweetcracy">GitHub</a>
            </div><!-- /.container -->
        </footer>
    </div>
    <!-- ./wrapper -->
</template>
